<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
     Dear   <b th:text="${retailerName}"></b> !
     <br/>
     
       <p>
         Consumer <b th:text="${consumerName}"></b> has Generated a voucher <b th:text="${voucherCode}"></b> 
         on <b th:text="${Date}"></b> <b th:text="${campaignName}"></b> for Retailer <b th:text="${adId}"></b> on nuKart. 
      </p>
			        <p>
			            Regards, <br />
			            &emsp; <em>The nuKart Team</em>
			        </p>
    </body>
</html>