<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title th:remove="all">Template for HTML email (simple)</title>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />       
   </head>
   <body>
       
        <div th:if="${size} != 'Zero' ">
        
        <div th:each="key : ${consumer}" th:object="${key}">
        
                 <div th:each="orderkey,iterStat : ${orders}" th:object="${orderkey}">          

      
        <div th:each="offerkey,offerStat : ${offers}" th:object="${offerkey}" th:if="${iterStat.index}==${offerStat.index}">
        
            <div th:switch="${orderkey.getState()}">
            <!-- Placed -->
                 <div th:case="'Placed'">
                     <p style="font-size:18px;">Hi <span th:text="${key.getFirstName()}"></span></p>
                    <p>Thank you for your order!</p>
                    <p>We will notify you on further updates.</p>
                    <p>Your order ID <a href="https://nukart.in/"><span th:text="${orderkey.getOrderId()}"></span></a> </p>
                    <p>You have redeemed <span th:text="${orderkey.getRedeemAmount()}"></span> Points</p>
                 </div>
             <!-- Shipped -->
                 <div th:case="'Shipped'">
                     <p style="font-size:18px;">Hi <span th:text="${key.getFirstName()}"></span></p>
                     Your Order with OrderId <span th:text="${orderkey.getOrderId()}"></span> has been <span th:text="${orderkey.getState()}"></span>
                 </div>
             <!-- Delivered -->
                 <div th:case="'Delivered'">
                     <p style="font-size:18px;">Hi <span th:text="${key.getFirstName()}"></span></p>
                     Your Order with OrderId <span th:text="${orderkey.getOrderId()}"></span> has been <span th:text="${orderkey.getState()}"></span>
                 </div>
             <!-- Cancelled -->
                 <div th:case="'Cancelled'">
                     <p style="font-size:18px;">Hi <span th:text="${key.getFirstName()}"></span></p>
                     Your Order with OrderId <span th:text="${orderkey.getOrderId()}"></span> has been <span th:text="${orderkey.getState()}"></span>
                 </div>
             <!-- Pickup -->
                 <div th:case="'Pickup'">
                     <p style="font-size:18px;">Hi <span th:text="${key.getFirstName()}"></span></p>
                    <p>Thank you for your order!</p>
                    <p>We will notify you on further updates.</p>
                    <p>Your order ID <a href="https://nukart.in/"><span th:text="${orderkey.getOrderId()}"></span></a> </p>
                    <p>You have redeemed <span th:text="${orderkey.getRedeemAmount()}"></span> Points</p>
                 </div>
            </div>
<p><span style="margin-left:310px;"><b>Price</b></span><span style="margin-left:25px;"><b>Fulfilled By</b></span><span style="margin-left:75px;"><b>Qty</b></span><span style="margin-left:30px;"><b>SubTotal</b></span></p>         
            <table>
                <tr>
                    <td><img th:src="${offerkey.getProduct().getLabel()}" width="75px" height="75px"/></td>
                    <td><span style="margin-left:25px;"><b th:text="${offerkey.getProduct().getName()}"></b></span></td>
                    <td><span style="margin-left:25px;" th:text="${offerkey.getProduct().getPrice()}"></span></td>
                    <td><span style="margin-left:25px;" th:text="${offerkey.getRetailer().getName()}"></span></td>
                    <td><span th:text="${orderkey.getProductQuantity()}"></span></td>
                    <td><span th:text="${orderkey.getAmountPayable()}"></span></td>
                </tr>
            </table>
              
          </div>
                
     <hr/>
     </div>
            
         </div>
        
        </div>
        
        <div th:if="${size} == 'Zero' ">
            No Notification
        </div>
        
   </body>
</html>